<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802672696803-541ebqfm6u7ru726vhta2i8or7png9u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802672696803-541ebqfm6u7ru726vhta2i8or7png9u9</string>
	<key>API_KEY</key>
	<string>AIzaSyDpfqjMZEAbDzMvYSDJOM6UWgP3MCW-uXM</string>
	<key>GCM_SENDER_ID</key>
	<string>802672696803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled8</string>
	<key>PROJECT_ID</key>
	<string>baldti</string>
	<key>STORAGE_BUCKET</key>
	<string>baldti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802672696803:ios:d1203c06b3cb418c0754d6</string>
</dict>
</plist>